<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>Hobi saya adalah bermain game</article>
	<article>Saya berkuliah di Fasilkom UI, dan merupakan angkatan 2018</article>
	<article>Saya menyukai hal-hal yang berbau jejepangan, dan juga mempunyai kemampuan bahasa Jepang yang lumayan</article>
	<img src="https://files.catbox.moe/vxv415.jpg">
</body>
</html>
